:root {
  --main-text-color: #757575;
  --dark-bg-text-color: #ffffff;
  --title-color: #212121;
  --dark-background: #2f303a;
  --light-background: #f5f4fa;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.button-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button-main:hover,
.button-main:focus {
  background-color: #188ce8;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-color);
  cursor: pointer;
}

.button:hover,
button:focus {
  background-color: var(--accent-color);
  color: var(--dark-bg-text-color);
}

.title {
  font-weight: 700;
  color: var(--title-color);
  letter-spacing: 0.06em;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.dark-bgc {
  background: var(--dark-background);
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.forces-list {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.team-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.projects-list {
  font-size: 18px;
  line-height: 2;
}

.job-title,
.project-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.header-text {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--dark-bg-text-color);
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/*.link:hover,
.link:focus,*/
.header-text:hover,
.header-text:focus,
.footer-address:hover,
.footer-address:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.logo-start {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-end {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
